.pxf-post-slider {
    margin-bottom: 20px;
}

.pxf-post-slider .slider-nav,
.pxf-post-slider .slider-for > *:not(:first-child) {
    display: none;
}

.pxf-post-slider .slider-nav img {
    max-width: 150px;
    cursor: pointer;
    max-height: 150px;
}

.v3 .pxf-post-slider .slider-nav img {
    max-width: none;
    max-height: none;
}

.pxf-post-slider .slider-nav img:hover {
    opacity: 0.75;
}

.sidebar-tags a {
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    padding: .2rem .8rem;
    margin-right: .5rem;
    margin-bottom: .85rem;
    background: #fff;
    color: #323232;
    text-transform: lowercase;
}

.sidebar-tags a:hover {
    text-decoration: none;
    color: #1ba3b3 !important;
}

.primary-sidebar > * {
    margin-bottom: 1.5rem;
}

.primary-sidebar > * > h3 {
    margin-bottom: 1.6rem;
}

.sidebar-more-from-author {
    padding-top: .5rem;
}

.sidebar-more-from-author h3 {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
}

.sidebar-more-from-author .see-all-author {
    font-weight: 700;
    display: block;
    font-size: 16px;
    margin-bottom: 1.3rem;
    margin-top: 2px;
    color: #36cad1;
}

.sidebar-more-from-author .see-all-author:hover {
    text-decoration: underline;
}

@media (min-width: 640px) {
    .sidebar-more-from-author .see-all-author {
        display: inline-block;
        float: right;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 992px) {
    .sidebar-more-from-author .see-all-author {
        display: block;
        float: none;
        margin-bottom: 1.3rem;
    }
}

@media screen and (min-width: 1110px) {
    .sidebar-more-from-author .see-all-author {
        display: inline-block;
        float: right;
        margin-bottom: 0;
    }
}

.sidebar-more-from-author ul {
    display: flex;
    flex-wrap: wrap;
}

.sidebar-more-from-author ul li {
    flex: 33.33% 1 0;
}

.thumbnail-container {
    margin-bottom: 16px;
    box-shadow: 1px 1px 2px #e6e6e6;
    position: relative;
    overflow: hidden;
    background: #ccc;
}

.sidebar-author-info, .sidebar-info, .sidebar-social-share {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    background: #fff;
    padding: 1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.follow-button.follow, .follow-button.following {
    background: #1ba3b3;
    font-size: 16px;
    border-radius: 4px;
    padding: 2px 15px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    border: none;
    transition: all 150ms ease 0s;
    text-align: center;
    display: inline-block;
    line-height: 25px;
}

.follow-button {
    display: inline-block;
}

.follow-button.following {
    background: #fff;
    color: #696969;
    border: 1px solid #e6e6e6;
}

.follow-button.following:focus, .follow-button.following:hover {
    color: #1ba3b3;
    background: #fff;
}

@media (min-width: 1024px) {
    .sidebar-author-info .follow-button {
        margin: 0;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }
}

.sidebar-author-info {
    padding: 1rem 1.8rem 1.8rem;
    position: relative;
    text-align: center;
}

.sidebar-author-info .avatar,
.sidebar-author-info .sidebar-avatar {
    border-radius: 100%;
    margin: 1rem 0 .5rem 0;
    width: 96px;
    max-width: 100%;
    height: 96px;
}

.sidebar-author-info h4 {
    margin-top: 4px;
}

.sidebar-author-info .star-rating,
.sidebar-author-info .rating-number {
    display: inline-block;
}

.sidebar-author-info .star-rating span,
.sidebar-author-info .rating-number span {
    vertical-align: 4px;
}

.sidebar-author-info .rating-number > strong {
    vertical-align: 4px;
}

.sidebar-author-info .star-rating {
    margin-top: 4px;
    margin-right: 4px;
}

.follow-button:not(.following).follow:focus, .follow-button.follow:not(.following):hover {
    background: #178f9d;
}

.sidebar-info .info-row span {
    display: block;
    width: 100%;
}

@media (min-width: 640px) {
    .sidebar-info .info-row span {
        display: inline-block;
        width: 49%;
    }
}

.sidebar-info .info-row span:nth-of-type(even) {
    font-weight: 700;
}

@media (min-width: 640px) {
    .sidebar-info .info-row span:nth-of-type(even) {
        text-align: right;
    }
}

.like-wishlist {
    font-weight: 700;
    padding-top: 1rem
}

.like-wishlist .collection, .like-wishlist .likes {
    width: 100%;
    display: block;
    padding: .5rem
}

.like-wishlist .collection > a {
    vertical-align: -4px;
    display: inline-block;
    font-size: 16px;
}

@media (min-width: 640px) {
    .like-wishlist .collection, .like-wishlist .likes {
        display: inline-block;
        width: 49%
    }
}

@media screen and (min-width: 992px) {
    .like-wishlist .collection, .like-wishlist .likes {
        display: block;
        width: 100%
    }
}

@media screen and (min-width: 1110px) {
    .like-wishlist .collection, .like-wishlist .likes {
        display: inline-block;
        width: 49%
    }
}

.like-wishlist .collection .label, .like-wishlist .likes .label {
    color: inherit
}

.like-wishlist .wpulike {
    margin-top: -.5rem
}

@media (min-width: 640px) {
    .like-wishlist .likes {
        border-right: 1px solid #e6e6e6
    }
}

@media screen and (min-width: 992px) {
    .like-wishlist .likes {
        border-right: 0
    }
}

@media screen and (min-width: 1110px) {
    .like-wishlist .likes {
        border-right: 1px solid #e6e6e6
    }
}

.like-wishlist .heart-svg {
    display: none
}

.like-wishlist .count-box {
    color: inherit !important;
    position: static;
    vertical-align: middle;
    margin-right: .2rem;
    width: auto;
    display: inline-block;
    padding-left: 1rem;
    font-size: 16px;
}

.like-wishlist input[type="checkbox"] {
    opacity: 0;
}

.like-wishlist .count-box:before {
    content: '';
    background: url(../images/icon-heart.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: 0;
    cursor: pointer;
}

.like-wishlist .count-box + strong {
    margin-top: 3px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}

.like-wishlist .likes .not-logged-in-button {
    position: relative
}

.like-wishlist .likes .not-logged-in-button:before {
    content: '';
    background: url(../images/icon-heart.svg);
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -1.6rem
}

.like-wishlist .wp_ulike_general_class.wp_ulike_is_liked .count-box {
    color: #1ba3b3 !important
}

.like-wishlist .wp_ulike_general_class {
    margin-left: 0
}

.like-wishlist .wp_ulike_general_class label {
    position: relative;
}

.collection > a > span {
    position: relative;
    margin-left: 1.6rem
}

.collection > a > span:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -1.6rem;
    background: url(../images/icon-collection.svg);
    background-size: cover
}

.heart-icon {
    width: 20px;
    height: 20px;
    vertical-align: -.25rem;
    display: inline-block;
    margin-right: .3rem;
    background-size: cover
}

#start-download .button-label, .edd-free-download-single, .edd-free-downloads-direct-download-link, .modal-left .edd-free-download-submit, .sidebar-download-button .edd-add-to-cart-label {
    display: block !important;
    text-align: left;
    padding: .5rem 1rem .5rem 1.3rem;
}

.edd-free-download-single {
    padding: 1.2rem 1rem 1.2rem 9rem;
    border: 0 !important;
    display: block;
    position: relative;
}

#start-download .button-label:before, .edd-free-download-single:before, .edd-free-downloads-direct-download-link:before, .modal-left .edd-free-download-submit:before, .sidebar-download-button .edd-add-to-cart-label:before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    height: 48px;
    background: url(../images/icon-download.svg);
    background-size: cover;
}

#start-download .button-label span, .edd-free-download-single span, .edd-free-downloads-direct-download-link span, .modal-left .edd-free-download-submit span, .sidebar-download-button .edd-add-to-cart-label span {
    display: block;
}

#start-download .button-label span:first-of-type, .edd-free-download-single span:first-of-type, .edd-free-downloads-direct-download-link span:first-of-type, .modal-left .edd-free-download-submit span:first-of-type, .sidebar-download-button .edd-add-to-cart-label span:first-of-type {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 31px;
    display: block;
    margin-bottom: 5px;
}

#start-download,
.edd-free-download-single,
.edd-free-downloads-direct-download-link,
.edd_go_to_checkout,
.modal-left .edd-free-download-submit,
.sidebar-download-button .edd-add-to-cart {
    background: #4368d1 !important;
    color: #fff !important;
    text-transform: none;
    font-weight: 400;
    border: none;
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    padding-left: 90px;
    transition: all 150ms ease 0s;
    border-radius: 5px;
}

#start-download:focus,
#start-download:hover,
.edd-free-download-single:focus,
.edd-free-download-single:hover,
.edd-free-downloads-direct-download-link:focus,
.edd-free-downloads-direct-download-link:hover,
.edd_go_to_checkout:focus,
.edd_go_to_checkout:hover,
.modal-left .edd-free-download-submit:focus,
.modal-left .edd-free-download-submit:hover,
.sidebar-download-button .edd-add-to-cart:focus,
.sidebar-download-button .edd-add-to-cart:hover {
    background: #5778d6 !important;
}

#start-download:focus, .edd-free-download-single:focus, .edd-free-downloads-direct-download-link:focus, .edd_go_to_checkout:focus, .modal-left .edd-free-download-submit:focus, .sidebar-download-button .edd-add-to-cart:focus {
    outline: 1px dotted;
    outline-offset: -4px;
    text-decoration: none;
}

#atstbx table, #atstbx td,
#at-jumboshare table, #at-jumboshare td, .share-links table, .share-links td {
    border: 0;
}

.widget .at4-jumboshare .at4-share-container {
    width: 190px;
    border: none;
    padding-left: 0;
}

.widget .at4-jumboshare .at4-count-container {
    min-width: 100px;
    border: none;
    padding-right: 0;
}

.widget .at4-jumboshare .at4-count {
    font-size: 60px;
    line-height: 60px;
}

#atstbx .at4-count,
#at-jumboshare .at4-count, .share-links .at4-count {
    transform: scale(.5);
    margin-top: -.55rem;
}

.sidebar-social-share .share-buttons {
    border-bottom: 1px solid #e6e6e6;
}

#atstbx td,
#at-jumboshare td {
    margin-right: -2.5rem;
    margin-left: -1.5rem;
}

.pixelify-dashboard .content-area .page .user-dashboard-menu a,
.pixelify-dashboard .user-dashboard-menu a {
    font-weight: 400;
}

.pixelify-dashboard .content-area .page .user-dashboard-menu .active a,
.pixelify-dashboard .user-dashboard-menu .active a {
    font-weight: 700;
    color: #323232;
}

.pixelify-dashboard .user-dashboard-menu li {
    display: block;
    margin: 0 1rem .8rem;
}

.pixelify-dashboard .user-dashboard-menu li a {
    color: #999;
}

.pixelify-dashboard .user-dashboard-menu li a:hover {
    color: #4c4c4c;
    text-decoration: none;
}

@media (min-width: 640px) {
    .pixelify-dashboard .user-dashboard-menu li {
        width: auto;
        display: inline-block;
        margin-bottom: .6rem;
    }
}

.pixelify-dashboard .fes-vendor-dashboard-wrap .fes-vendor-dashboard {
    max-width: 100%;
    border: none;
}

.pixelify-dashboard .tablesaw {
    width: 100%;
    max-width: 100%;
    empty-cells: show;
    border-collapse: collapse;
    border: 0;
    padding: 0;
}

.pixelify-dashboard .tablesaw-stack {
    clear: both;
}

.pixelify-dashboard .user-dashboard-menu {
    margin-bottom: 50px;
}

.pixelify-dashboard table td,
.pixelify-dashboard table th {
    background: none;
    border-right: none;
    border-left: none;
}

.pixelify-dashboard table td {
    padding: 1.5rem 1rem;
}

.pixelify-dashboard table td .thumbnail-container {
    max-width: 120px;
}

.pixelify-dashboard .tablesaw-stack td .tablesaw-cell-label,
.pixelify-dashboard .tablesaw-stack th .tablesaw-cell-label {
    display: none;
}

#fes-vendor-dashboard > ul.edd-wish-list > li > a.edd-wl-edit,
.pixelify-dashboard .your-downloads .edd-fes-action,
.pixelify-dashboard .your-products .edd-fes-action {
    color: #323232;
    background: #e6e6e6;
    border-radius: 4px;
    padding: .2rem 1rem;
    margin: .4rem 0;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    display: block;
}

#fes-vendor-dashboard > ul.edd-wish-list > li > a.edd-wl-edit:hover,
.pixelify-dashboard .your-downloads .edd-fes-action:hover,
.pixelify-dashboard .your-products .edd-fes-action:hover {
    text-decoration: underline;
}

.pixelify-dashboard table .thumbnail-col {
    max-width: 115px;
}

.pixelify-dashboard table .title-col {
    max-width: 300px;
}

.pixelify-dashboard table .date-col {
    max-width: 100px;
}

.pixelify-dashboard table .downloads-col {
    text-align: center;
}

.pixelify-dashboard table .views-col {
    text-align: center;
}

.pixelify-dashboard table .likes-col {
    text-align: center;
}

.pixelify-dashboard table .reviews-col {
    text-align: center;
}

.pixelify-dashboard table .questions-col {
    text-align: center;
}

.pixelify-dashboard fieldset {
    border: none;
    margin: 0 0 2rem 0;
    padding: 0;
    position: relative;
}

.pixelify-dashboard .fes-form-fieldset {
    margin-bottom: 0;
}

.pixelify-dashboard #fes-submission-form-title {
    display: none;
}

.pixelify-dashboard .fes-el,
.pixelify-dashboard .fes-login-form {
    margin-bottom: 1rem;
}

.pixelify-dashboard .fes-label {
    margin-bottom: .5rem;
}

.pixelify-dashboard label {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.pixelify-dashboard .fes-required-indicator {
    color: #a94442;
    font-size: 1.5rem;
    margin-left: .25rem;
}

.pixelify-dashboard .zf_fes_file .dropzone {
    text-align: center;
    display: block;
    background-color: transparent;
    border-style: dashed;
    height: 135px;
}

.pixelify-dashboard .zf_fes_file .dropzone.multiple {
    height: auto;
    min-height: 135px;
}

.pixelify-dashboard .dropzone.dz-clickable {
    cursor: pointer;
}

.pixelify-dashboard .dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.pixelify-dashboard .zf_fes_file .dropzone .dz-message {
    align-self: center;
    margin: 1rem 0 0 0;
    position: relative;
}

.pixelify-dashboard .zf_fes_file .dropzone.multiple.has-media .dz-message {
    margin-top: 5rem;
}

.pixelify-dashboard .zf_fes_file .dropzone .dz-message:before {
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("../images/icon-upload.svg");
    background-size: cover;
    position: absolute;
    top: -2.1rem;
    left: 50%;
    transform: translateX(-50%);
}

.pixelify-dashboard .zf_fes_file .dropzone.multiple.has-media .dz-message:before {
    top: -3rem;
}

.pixelify-dashboard .zf_fes_file .dropzone {
    display: flex;
    justify-content: center;
    padding-top: 1.8rem;
    margin-bottom: 2rem;
}

.pixelify-dashboard .zf_fes_file .dropzone.multiple.has-media {
    display: block;
}

.pixelify-dashboard .zf_fes_file .dz-max-files-reached {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone .dz-preview .dz-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    white-space: nowrap;
    z-index: 10;
    width: 21px;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 2px;
    padding: 0 .3rem .1rem;
    color: transparent !important;
    background-image: url("../images/close-modal-gray.svg");
    line-height: 1.2;
    background-repeat: no-repeat;
}

.pixelify-dashboard .fes-el.download_category {
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) {
    .pixelify-dashboard .fes-el.download_category {
        max-width: 49%;
    }
}

.pixelify-dashboard .zf_fes_featured_images {
    width: 100%;
}

@media (min-width: 1024px) {
    .pixelify-dashboard .zf_fes_featured_images {
        width: 48%;
        position: absolute;
        right: 0;
    }
}

@media (min-width: 1024px) {
    .pixelify-dashboard .fes-el.action_hook,
    .pixelify-dashboard .fes-el.download_tag,
    .pixelify-dashboard .fes-el.license_options,
    .pixelify-dashboard .fes-el.post_content,
    .pixelify-dashboard .fes-el.post_title {
        width: 49%;
    }
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist li {
    display: inline-block;
    font-size: .95rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px;
    width: 50px;
    height: 21px;
    background-color: #e6e6e6;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist input:before {
    right: 1px;
    background-color: #e6e6e6;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist input:checked:before {
    background-color: #1ba3b3;
    top: 0;
    left: 0;
    bottom: 0;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist input:after {
    width: 21px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: margin .4s;
    -moz-transition: margin .4s;
    -o-transition: margin .4s;
    transition: margin .4s;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist input:checked:after {
    margin-left: 26px;
    left: 1px;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist input:after,
.pixelify-dashboard .fes-fields .fes-checkbox-checklist input:before {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

.pixelify-dashboard .radio label,
.pixelify-dashboard .checkbox label {
    padding-left: 0;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist input {
    margin-right: 10px;
    vertical-align: -5px;
}

.pixelify-dashboard .fes-fields .fes-checkbox-checklist li:not(:first-child) {
    margin-left: 25px;
}

.pixelify-dashboard .fes-submit {
    margin-top: 3rem;
}

.pixelify-dashboard .fes-el.download_category select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    height: 200px;
}

.pixelify-dashboard .fes-el.download_category option {
    padding: .6rem .8rem;
    font-size: 16px;
}

.pixelify-dashboard .fes-el.download_category option[selected="selected"] {
    background-color: #f5f5f5;
    color: #333;
}

.pixelify-dashboard .zf_fes_file .dropzone .dz-message > span {
    margin-top: 15px;
    display: block;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone {
    text-align: center;
    display: block;
    background-color: #e8f6f7;
    border-color: #e3e3e3;
    height: 135px;
    color: #27a4b3;
    border-width: 1px;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .pixelify-dashboard .zf_fes_featured_images .dropzone.has-image {
        margin-bottom: 100px;
    }
}

.pixelify-dashboard .zf_fes_featured_images .dropzone {
    text-align: left;
    height: auto;
    min-height: 200px;
    border-radius: 3px;
    padding: .5rem .5rem .5rem .6rem;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone .dz-message {
    position: absolute;
    margin-top: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone .dz-message:before {
    content: "";
    width: 31px;
    height: 31px;
    background: url("../images/add-photo.svg");
    position: absolute;
    top: -2.3rem;
    left: 50%;
    transform: translateX(-50%);
}

.pixelify-dashboard .dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone .dz-message > span {
    margin-top: 10px;
    display: block;
}

.pixelify-dashboard .fes-profile-form .user_pass div:nth-of-type(2) {
    margin-bottom: 1rem;
}

.pixelify-dashboard .fes-profile-form .fes-form-legend {
    display: none;
}

.pixelify-dashboard .zf-user-avatar-field .avatar {
    background-color: #e8f6f7;
    border: 1px solid #e3e3e3;
    height: 96px;
    color: #27a4b3;
    width: 96px;
    border-radius: 50%;
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
}

.pixelify-dashboard.followed-artists .fes-vendor-dashboard,
.pixelify-dashboard.wish-lists .fes-vendor-dashboard,
.pixelify-dashboard.collections .fes-vendor-dashboard {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.pixelify-dashboard a.edd-wl-action {
    color: #777;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.pixelify-dashboard a.edd-wl-action.edd-wl-button {
    border: 2px solid #E4E4E4;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
}

.pixelify-dashboard a.edd-wl-action.edd-wl-button:hover {
    background-color: #fff;
}

.pixelify-dashboard .edd-wish-list {
    margin: 0 0 1em 0;
    padding: 0;
    list-style-type: none;
}

.pixelify-dashboard .edd-wish-list li {
    list-style-type: none;
    margin: 0 0 1rem 0;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #eee;
}

@media screen and (min-width: 480px) {
    .pixelify-dashboard .edd-wish-list li .edd-wl-item-title {
        max-width: 78%;
        text-align: left;
        display: inline-block;
    }

    #fes-vendor-dashboard > ul.edd-wish-list > li > a.edd-wl-edit {
        width: 100px;
        float: right;
    }
}

.pixelify-dashboard .edd-wish-list li span.edd-wl-item-count {
    font-size: 12px;
    color: #a5a5a5;
}

.pixelify-dashboard .edd-wish-list li .edd-wl-item-title {
    color: #1ba3b3;
    font-weight: 400;
}

.pixelify-dashboard .edd-wish-list li .edd-wl-item-title:hover {
    color: #158390;
    text-decoration: underline;
}

.pixelify-dashboard .edd-wl-heading {
    font-size: 27px;
    margin-bottom: 20px;
}

.pixelify-dashboard .zf_fes_file .dz-complete .dz-filename:before {
    content: "";
    width: 28px;
    height: 28px;
    background: url("../images/icon-done.svg");
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

.pixelify-dashboard .zf_fes_file .dropzone.has-media,
.pixelify-dashboard .zf_fes_file .dz-max-files-reached {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

.pixelify-dashboard .zf_fes_file .dz-complete {
    padding-top: 2rem;
}

.pixelify-dashboard .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

.pixelify-dashboard .dropzone.multiple .dz-preview {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-bottom: 30px;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone .dz-preview {
    margin: .5rem;
    min-height: 0;
    width: 22.55%;
    overflow: hidden;
}

.pixelify-dashboard #fes-zf_fes_featured_images div:nth-of-type(2) {
    width: 98%;
    padding-right: 0;
}

.pixelify-dashboard .dropzone,
.pixelify-dashboard .dropzone * {
    box-sizing: border-box;
}

.pixelify-dashboard .dropzone .dz-preview .dz-success-mark,
.pixelify-dashboard .dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    height: 64px;
}

.pixelify-dashboard .dropzone .dz-preview .dz-success-mark img,
.pixelify-dashboard .dropzone .dz-preview .dz-error-mark img {
    width: 100%;
    height: 100%;
}

.pixelify-dashboard .dropzone .dz-preview.dz-error .dz-error-mark {
    opacity: 0.8;
}

.pixelify-dashboard .dz-preview .dz-image img {
    max-height: 70px;
    width: 100%;
}

.pixelify-dashboard #fes-zf_fes_featured_images div:nth-of-type(2) .dz-image img {
    width: 100%;
    max-height: 290px;
}

#edd-free-downloads-modal .modal-dialog {
    width: 900px;
    max-width: 90%;
}

.primary-sidebar .modal-dialog {
    margin-top: 5%;
}

.modal-header .close {
    width: auto;
    font-size: 30px;
}

.modal-header .close:hover {
    background: none;
}

.modal-title {
    font-size: 25px;
    line-height: 1;
    display: inline-block;
}

#edd-free-downloads-modal .modal-left {
    background: #f8f8f8;
    text-align: center;
    padding: 3rem;
    border-radius: 3px;
    margin-left: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
}

#edd-free-downloads-modal .modal-left .edd-free-download-submit {
    height: 70px;
}

#edd-free-downloads-modal .modal-left .edd-free-download-submit span {
    text-align: center;
    padding-right: 15px;
    font-size: 20px;
}

#edd-free-downloads-modal .share-links {
    background: #fff;
    margin-bottom: 1rem;
    margin-top: 2.2rem;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #e6e6e6;
}

#edd-free-downloads-modal .share-links p {
    border-bottom: 1px solid #f5f5f5;
    margin: 0;
    padding: .7rem;
}

.primary-sidebar .addthis_inline_share_toolbox {
    display: inline-block;
}

.primary-sidebar .addthis_inline_share_toolbox table {
    border: none;
    margin-bottom: 0;
}

.primary-sidebar .addthis_inline_share_toolbox .at4-jumboshare .at4-count {
    transform: scale(.5);
    margin-top: -.55rem;
}

.primary-sidebar .sidebar-social-share .widget:last-of-type,
.primary-sidebar .sidebar-social-share .widget:last-child {
    margin-bottom: 0;
}

#edd-free-downloads-modal .modal-right h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.modal-footer .btn {
    width: auto;
    color: #333;
}

.loop-pixel-small .post {
    margin-bottom: 20px;
}

.loop-pixel-small .post .wp-post-image {
    margin-bottom: 15px;
}

.loop-pixel-small .post .entry-title {
    margin-top: 0;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 2px;
}

.loop-pixel-small .post .new-label + .entry-title {
    max-width: 75%;
    display: inline-block;
    line-height: 1;
}

.loop-pixel-small .featured .entry-footer a {
    color: #626d7b;
}

.loop-pixel-small .featured .entry-footer a:hover {
    color: #36cad1;
}

.loop-pixel-small:nth-child(odd) {
    clear: both;
}

.loop-pixel-small .post .cat-links {
    font-size: 13px;
    color: #999;
}

.loop-pixel-small .featured .entry-footer a {
    display: inline-block;
    margin-top: 0;
}

.primary-sidebar .modal-left a,
.content-area .primary-sidebar .modal-left a {
    font-weight: 400;
    color: #36cad1;
}

.primary-sidebar .modal-left a:not(.button):hover,
.content-area .primary-sidebar .modal-left a:not(.button):hover {
    text-decoration: underline;
}

#edd-free-downloads-modal .credit-link {
    display: block;
    margin-top: 1.8rem;
    font-size: 1.4rem;
}

.edd-free-downloads-required {
    color: red;
}

.modal-left .link-back + label {
    width: 100%;
}

.hide-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

#edd-wl-modal a.edd-wl-close {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #c4c4c4;
}

#edd-wl-modal a.edd-wl-close:hover {
    color: #333;
}

#edd-wl-modal-label + p {
    font-weight: 400;
}

#edd-wl-modal input[type="radio"] {
    cursor: pointer;
    width: 12px;
    height: 12px;
    vertical-align: -1px;
    margin-right: 5px;
}

#edd-wl-modal input[type="radio"] + label {
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
}

a.edd-wl-action {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;
}

a.edd-wl-action {
    color: #777;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

a.edd-wl-action.edd-wl-button {
    border: 2px solid #E4E4E4;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
}

a.edd-wl-action.edd-wl-button:hover {
    background: #f5f5f5;
    border-color: #d7d7d7;
    color: #333;
}

a.edd-wl-action.edd-wl-button .label {
    font-weight: 400;
    font-size: 14px;
}

#edd-wl-modal input[type="text"] + label {
    width: 100%;
    margin-top: 15px;
}

.primary-sidebar a.disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

#edd-wl-modal .messages {
    font-weight: 400;
}

.primary-sidebar .sidebar-license-info a,
#edd-wl-modal .messages a {
    color: #36cad1;
}

.primary-sidebar .sidebar-license-info a:hover,
#edd-wl-modal .messages a:hover {
    text-decoration: underline;
}

.page .collection-posts .edd-remove-from-wish-list {
    float: right;
    margin-top: 6px;
    color: #ccc;
    font-size: 13px;
}

.page .collection-posts .edd-remove-from-wish-list:hover {
    color: #333;
}

.followed-authors .avatar,
.followed-authors .artist-avatar {
    width: 80px;
    margin-right: 1rem;
    border-radius: 100%;
    height: 80px;
}

.author-page-info .avatar {
    border-radius: 100%;
    width: 115px;
    height: 115px;
}

.followed-authors .follow-button {
    margin-left: auto;
    display: inline-block;
}

.followed-authors li {
    display: flex;
    align-items: center;
    padding: 1rem 0 .8rem;
    border-bottom: 1px solid #ccc;
}

.content-area .page .fes-product-list-td a,
.content-area .fes-product-list-td a,
.fes-product-list-td a {
    color: #999;
}

.content-area .page .fes-product-list-td > a:hover,
.content-area .fes-product-list-td > a:hover,
.fes-product-list-td > a:hover {
    text-decoration: none;
}

.content-area .page .fes-product-list-td > a:hover h3,
.content-area .fes-product-list-td > a:hover h3,
.fes-product-list-td > a:hover h3 {
    color: #888;
}

.fes-product-list-td .archive-single-meta {
    font-size: 14px;
}

.page .fes-product-list-td h3,
.fes-product-list-td h3 {
    margin-top: 0;
}

.list-authors {
    margin-bottom: 20px;
}

.list-authors .avatar {
    border-radius: 50%;
    margin-bottom: 10px;
}

.site-header .avatar,
.header-avatar {
    width: 32px;
    border-radius: 100%;
    vertical-align: -50%;
    margin-right: 1rem;
    height: 32px;
}

.profile-menu {
    position: relative;
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 1.5rem;
    float: right;
    font-size: 13px;
    vertical-align: middle;
}

.profile-menu .user-name {
    font-weight: 700;
    color: #777;
    margin-top: 5px;
}

.profile-nav {
    list-style: none;
    float: right;
    margin: -.25rem 0 0 0
}

.profile-nav ul {
    background: #fff;
    position: absolute;
    list-style: none;
    margin-left: 1rem;
    top: 3.5em;
    left: -9999px;
    opacity: 0;
    transition: .1s linear opacity
}

.profile-nav ul li:focus, .profile-nav ul li:hover {
    background: #e6e6e6
}

.profile-nav li {
    float: left;
    position: relative
}

.profile-nav li > a {
    float: left;
    padding: 10px 15px;
    text-decoration: none
}

.profile-nav li:focus > a, .profile-nav li:hover > a, .profile-nav li > a:focus, .profile-nav li > a:hover {
    outline: 0;
    text-decoration: none !important
}

.profile-nav li:focus ul, .profile-nav li:hover ul, ul.show-menu {
    left: 0;
    opacity: .99
}

.profile-nav ul li {
    float: none;
    position: static
}

.profile-nav ul a {
    float: none;
    display: block;
    transition: .1s linear all
}

.profile-nav .level-2 {
    width: 100%;
    min-width: 165px;
    z-index: 10;
    margin-top: 0.5rem;
    box-shadow: 1px 1px 3px #e6e6e6;
    border-radius: 0 0 3px 3px
}

.profile-nav .level-2 a {
    color: #323232 !important
}

.dropzone .dz-preview .dz-progress {
    display: block;
    height: 15px;
    border: 1px solid #aaa;
}

.dropzone .dz-preview .dz-progress {
    opacity: 0;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    width: 80px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1);
    border-radius: 8px;
    overflow: hidden;
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite;
}

.dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
}

.pixelify-dashboard .zf_fes_file #fes-font_file.dropzone .dz-preview.dz-processing {
    display: block !important;
}

.pixelify-dashboard .zf_fes_file #fes-zf_fes_file.dropzone .dz-preview.dz-processing .dz-remove,
.pixelify-dashboard .zf_fes_file #fes-font_file.dropzone .dz-preview.dz-processing .dz-remove {
    display: none;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone .dz-preview.dz-processing {
    display: inline-block !important;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    display: block;
    height: 100%;
    width: 0;
    background: green;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666, #444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

.pixelify-dashboard .zf_fes_file .dropzone .dz-preview .dz-progress .dz-upload,
.zf_fes_featured_images .dropzone .dz-preview .dz-progress .dz-upload {
    background: #1ba3b3 !important;
}

#fes-zf_fes_featured_images div:nth-of-type(2) .dz-image {
    width: 100%;
    height: 260px;
}

.pixelify-dashboard .zf_fes_featured_images .dropzone.has-image .dz-message {
    top: 120%;
}

@media only screen and (max-width: 680px) {
    .hocwp .media-content .font-demos .font-tester .set-text-preview {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .hocwp .media-content .font-demos .toolbar-divider:first-of-type {
        display: none;
    }

    .hocwp .media-content .font-demos .slider {
        width: calc(100% - 182px) !important;
    }
}

@media only screen and (max-width: 480px) {
    .pixelify-dashboard .fes-fields .fes-checkbox-checklist li:not(:first-child),
    .pixelify-dashboard .fes-fields .fes-checkbox-checklist li {
        display: block;
        margin-left: 0;
    }
}

#edd_login_form fieldset, #edd_register_form fieldset {
    border: none;
    background: 0 0;
    padding: 0
}

.page-template-register .entry-content, .register-form {
    display: inline-block;
    vertical-align: top;
    padding: 0 .4rem;
    width: 100%
}

@media (min-width: 640px) {
    .page-template-register .entry-content, .register-form {
        padding: 0 1rem
    }
}

@media (min-width: 1024px) {
    .page-template-register .entry-content, .register-form {
        padding: 0 3rem
    }
}

.page-template-register .site-content {
    padding-top: 1rem
}

@media (min-width: 640px) {
    .page-template-register .site-content {
        padding-top: 3rem
    }
}

.page-template-register .entry-content {
    margin-bottom: 2rem
}

@media (min-width: 640px) {
    .page-template-register .entry-content {
        float: right
    }
}

.register-box h1,
.page-template-register .entry-content h1 {
    margin-top: 2rem;
    color: #777
}

@media (min-width: 1024px) {
    .register-box h1,
    .page-template-register .entry-content h1 {
        margin-top: 2.5rem;
        font-size: 2.5rem;
        margin-bottom: 2.5rem
    }
}

.register-box ul,
.page-template-register .entry-content ul {
    list-style: none;
    margin: 0
}

.register-box ul li,
.page-template-register .entry-content ul li {
    position: relative;
    padding-left: 2.4rem;
    margin-bottom: .5rem
}

.register-box ul li:before,
.page-template-register .entry-content ul li:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/icon-done.svg");
    background-size: cover;
    position: absolute;
    top: .4rem;
    left: 0
}

.register-form h2 {
    color: #777
}

@media (min-width: 640px) {
    .register-form {
        border-right: 1px solid #e6e6e6
    }
}

.register-form .edd-submit {
    width: 100%;
    margin-top: .5rem
}

.register-form fieldset {
    margin-bottom: 1rem
}

.register-form-info p {
    text-align: center
}

.register-form-info p:first-of-type {
    border-bottom: 1px solid #e6e6e6;
    font-size: 1.4rem;
    padding-bottom: 1.7rem
}

#lostpasswordform legend,
#edd_login_form legend, #edd_register_form legend {
    display: none;
}

#edd_login_form {
    margin: auto;
    width: 100%;
    max-width: 650px;
}

#lostpasswordform button[type="submit"] {
    width: auto;
}

#lostpasswordform fieldset {
    border: none;
    margin: 0 0 2rem 0;
    padding: 0;
    position: relative;
}

.pixelify-login .links a,
.pixelify-lostpassword .links a {
    margin-right: 10px;
}

#fes-zf_fes_file.has-media .dz-message {
    display: none;
}

.change-avatar-form {
    text-align: center;
}

.change-avatar-form a {
    display: inline-block;
}

.pxf-post-slider .slick-slide img {
    height: 540px;
}

.pxf-post-slider .slider-nav .slick-slide img {
    height: 112px;
}

.v3 .pxf-post-slider .slider-nav .slick-slide img {
    height: 140px;
    margin-bottom: 10px;
}

.pxf-post-slider .slider-nav > img {
    width: 20%;
    max-width: none;
}

@media only screen and (max-width: 600px) {
    .pxf-post-slider .slick-slide img {
        height: 320px;
    }

    .pxf-post-slider .slider-nav .slick-slide img {
        height: 100px;
    }
}

@media only screen and (max-width: 400px) {
    .pxf-post-slider .slick-slide img {
        height: 230px;
    }

    .pxf-post-slider .slider-nav .slick-slide img {
        height: 70px;
    }
}

.edd_form label,
.account-page-form label {
    display: block;
}

.edd_form input[type="password"],
.edd_form input[type="text"],
.edd_form input[type="email"],
.edd_form input[type="url"],
.account-page-form input[type="password"],
.account-page-form input[type="text"],
.account-page-form input[type="email"],
.account-page-form input[type="url"] {
    min-width: 200px;
}

.modal {
    display: none;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hocwp .media-content .media-download > a,
.hocwp .media-content .media-download .download-link {
    background-color: #36cad1;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    float: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
}

.hocwp .media-content .media-download .download-link:hover {
    background-color: #626d7b;
}

.hocwp .media-content .media-download .download-link.more-link {
    background-color: #fff;
    border: 2px solid #36cad1;
    color: #36cad1;
}

.hocwp .media-content .media-download .download-link.more-link:hover {
    background-color: #36cad1;
    color: #fff;
}

.hocwp .media-content .media-download > a,
.hocwp .media-content .media-info .description .media-download .download-link {
    margin-right: 10px;
    margin-bottom: 10px;
}

.hocwp .media-content .media-info .description .media-download .download-link:last-child {
    margin-right: 0;
}

.hocwp .media-content .media-download > a > .fa,
.hocwp .media-content .media-info .description .media-download .download-link .fa {
    margin-right: 5px;
}

.hocwp .media-content .media-download > a.more-link:after {
    display: none;
}

.hocwp .media-content .media-info .details .media-download .download-link {
    margin-bottom: 10px;
}

.hocwp.primary-sidebar .media-content .media-download > a,
.hocwp.primary-sidebar .media-content .media-info .description .media-download .download-link {
    margin-right: 0;
    display: block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-more-from-author .thumbnail-container img {
    display: block;
    max-height: 94px;
}

.pixel-dashboard.profile .hocwp-post,
.page.pixel-page .hocwp-post {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.center-title .hocwp-post h1,
.pixel-dashboard .hocwp-post > h1 {
    text-align: center;
}

#edd-wl-modal #list-name,
#edd-wl-modal #user-lists {
    display: block;
}

#edd-wl-modal a.edd-wl-button .label,
#edd-wl-modal a.edd-wl-button label,
#edd-wl-modal a.edd-wl-button {
    color: #333;
    text-decoration: none;
}

#edd-wl-modal #edd-wl-modal-label {
    margin-top: 0;
}