.hocwp .media-content {
    box-sizing: border-box;
    color: #878f9a;
    clear: both;
}

.hocwp .media-content * {
    box-sizing: border-box;
}

.hocwp .media-content .media-info .details .small-ads,
.hocwp .media-content .media-info .details .media-ads,
.hocwp .media-content .media-images + .media-info {
    margin-top: 20px;
}

.hocwp .media-content .media-info .details {
    float: left;
    width: 38%;
}

.hocwp .media-content .media-info .details.visible {
    float: none;
    width: 100%;
}

.hocwp .media-content .media-info .description {
    float: right;
    width: 58%;
}

.hocwp .media-content .media-info .details .list-label {
    display: inline-block;
    min-width: 100px;
    width: 40%;
}

.hocwp .media-content .media-download .download-link {
    background-color: #dedede;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    float: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.hocwp .media-content .media-download .download-link:hover {
    background-color: #626d7b;
}

.hocwp .media-content .media-download .download-link.down-link:hover,
.hocwp .media-content .media-download .download-link.down-link {
    background-color: #a9e62f;
    color: #3b7201;
    border: 1px solid #98cf2a;
}

.hocwp .media-content .media-download .download-link:hover {
    opacity: 0.85;
}

.hocwp .media-content .media-download .download-link.more-link {
    background-color: #fff;
    border: 2px solid #36cad1;
    color: #36cad1;
}

.hocwp .media-content .media-download .download-link.more-link:hover {
    background-color: #36cad1;
    color: #fff;
}

.hocwp .media-content .media-download .download-link.more-link:hover,
.hocwp .media-content .media-download .download-link.more-link {
    background-color: #ffc2c3;
    color: #7c5050;
    border: 1px solid #e5aeaf;
}

.hocwp .media-content .media-info .description .media-download .download-link {
    margin-right: 10px;
}

.hocwp .media-content .media-info .description .media-download .download-link:last-child {
    margin-right: 0;
}

.hocwp .media-content .media-info .details .media-download .download-link {
    margin-bottom: 10px;
    width: 100%;
}

.hocwp .media-content .media-images img {
    border-radius: 0;
    box-shadow: none;
    display: block;
    line-height: 1px;
    margin: 0;
}

.hocwp .media-content .media-info {
    overflow: hidden;
}

.hocwp .media-content .font-demos {
    margin-top: 20px;
    overflow: hidden;
}

.hocwp .media-content .font-demos .font-entry .font-entry-head {
    border-bottom: 1px solid #eee;
    color: #2a2a2a;
    display: block;
    font-size: 50px;
    line-height: 1.1;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.hocwp .media-content .font-demos .font-entry .font-entry-head .font-name {
    background: #f8f8f8 none repeat scroll 0 0;
    border-radius: 4px;
    font-size: 12px;
    left: 0;
    padding: 7px 10px;
    position: absolute;
    top: 10px;
}

.hocwp .media-content .font-demos .font-entry .font-display {
    display: block;
    font-size: 30px;
    height: 100%;
    overflow: hidden;
    padding: 70px 20px 30px;
    position: relative;
    white-space: nowrap;
}

.hocwp .media-content .font-demos .font-entry .font-entry-head:last-child {
    border-bottom: medium none;
}

.hocwp .media-content .font-demos .font-tester {
    background: #f8f8f8 none repeat scroll 0 0;
    border-radius: 4px;
    display: inline-table;
    padding: 15px 20px;
    width: 100%;
}

.hocwp .media-content .font-demos .font-tester .set-text-preview {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    color: #717b88;
    float: left;
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 30%;
}

.hocwp .media-content .font-demos .toolbar-divider {
    background-color: #eee;
    display: inline-block;
    float: left;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    width: 1px;
}

.hocwp .media-content .font-demos .toolbar-btn-group.set-text-transform {
    float: left;
    padding: 0;
}

.hocwp .media-content .font-demos .toolbar-btn-group .set-text-transform {
    border: medium none;
    color: #626d7b;
    font-family: "Open Sans", arial;
    font-weight: 500;
    text-decoration: none;
}

.hocwp .media-content .font-demos .toolbar-btn-group .set-text-transform:hover {
    color: #36cad1;
}

.hocwp .media-content .font-demos .toolbar-btn {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 40px;
}

.hocwp .media-content .font-demos .toolbar-btn > span {
    display: block;
    position: relative;
}

.hocwp .media-content .font-demos .toolbar-btn,
.hocwp .media-content .font-demos .toolbar-btn-group {
    display: inline-block;
    float: left;
    position: relative;
}

.hocwp .media-content .font-demos .slider {
    margin-top: 18px;
    width: 28%;
}

.hocwp .media-content .font-demos .ui-slider-horizontal {
    height: 3px !important;
}

.hocwp .media-content .font-demos .ui-widget-content {
    background: #eaeaea none repeat scroll 0 0 !important;
    border: medium none !important;
}

.hocwp .media-content .font-demos .ui-state-default,
.hocwp .media-content .font-demos .ui-widget-content .ui-state-default {
    background: #36cad1 none repeat scroll 0 0 !important;
    border: 2px solid #36cad1 !important;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1px;
    max-height: 18px;
    max-width: 18px;
}

.hocwp .media-content .font-demos .ui-slider-horizontal .ui-slider-handle {
    border-radius: 50% !important;
}

.hocwp .media-content .font-demos .ui-slider-horizontal .ui-slider-handle {
    top: -8px !important;
}

.hocwp .media-content .media-info .details .media-download {
    margin-top: 10px;
}

/* =================== New version 11/06/2018 ==================== */

.hocwp .media-content .media-info .details {
    display: none;
}

.hocwp .media-content .media-info .details.visible {
    display: block;
}

.hocwp .media-content .media-info .description {
    width: 100%;
}